 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'HarryP', serif;
    font-size: 16px; // Tamaño de fuente base
    
   
} 

@font-face {
  font-family: 'HarryP';
  src: url('../assets/fonts/HarryPotter-ov4z.ttf') format('truetype');
}

body{
   background-color: #f3efe0;
  background-image: url('/src/images/background.jpg'); /* textura como papel antiguo */
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #2e2a24;
}

p, h1, h3, h4, h5, h6 {
  text-transform: capitalize;
}





.tittlehp {
  width: 100%;
  max-width: 800px; // Limita el ancho máximo del logo
  height: auto;     

}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
   
  
}



.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
 
}

.card-info {
    width: 220px;
  border-radius: 16px;
  overflow: hidden;
  background: rgba(250, 250, 250, 0.85); /* semi translúcido */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  border: 3px solid #5a3d1f; /* color madera mágica */
  backdrop-filter: blur(2px);

}
.card-info:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.characters {
  width: 100%;
  height: 200px;
  
  display: block;
}

.info {
  padding: 0.5rem; // 🔹 margen interno alrededor del texto
  text-align: left;
}


.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.house {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.no-results{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Ocupa toda la altura de la ventana
  font-size: 24px; // Tamaño de fuente grande para destacar el mensaje
  color: red; // Color rojo para llamar la atención
  
}

.characters1{
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;

}

.container{
  
 display: grid;
  grid-template-columns: 250px 200px 200px;
  gap: 1rem;
  align-items: stretch;
  max-width: 700px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.info{
 text-align: left;
 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 1.5rem;
  height: 100%;

  
}

.character-detail{
 display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 16px;
  margin: 2rem auto;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  
}

.house-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 12px;

  &.gryffindor {
    background-image: url("/src/images/gryffindor.jpg");
  }

  &.slytherin {
    background-image: url("/src/images/slytherin.jpg");
  }

  &.ravenclaw {
    background-image: url("/src/images/ravenclaw.jpg");
  }

  &.hufflepuff {
    background-image: url("/src/images/hufflepuff.jpg");
  }

  &.sin-casa {
    background-image: url("/src/images/sin-casa.jpg");
  }
}

.back-link {
  text-decoration: none;
  color: inherit; // Hereda el color del texto
  font-weight: bold; // Resalta el enlace
  margin-top: 10px; // Espacio entre la tarjeta y el enlace
}

input{
 
 
  padding: 0.5rem 1rem;
  border: 2px solid #5a3d1f;
  border-radius: 12px;
  background-color: white;
  color: #2c1b10;
  
  
}




  .select-house {
  padding: 0.5rem 2rem;
  border: 2px solid #5a3d1f;
  border-radius: 12px;
  background-color: white;
  color: #2c1b10;
  font-family: 'HarryP', serif;
  font-size: 1rem;
  cursor: pointer;
  transition: border 0.3s ease, background-color 0.3s ease;
  appearance: none; /* Oculta la flechita por defecto */
  background-image: url('/src/images/flecha-select.jpg'); /* Opcional: ícono personalizado */
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}

 .select-species {
  padding: 0.5rem 2rem;
  border: 2px solid #5a3d1f;
  border-radius: 12px;
  background-color: white;
  color: #2c1b10;
  font-family: 'HarryP', serif;
  font-size: 1rem;
  cursor: pointer;
  transition: border 0.3s ease, background-color 0.3s ease;
  appearance: none; /* Oculta la flechita por defecto */
  background-image: url('/src/images/specie.png'); /* Opcional: ícono personalizado */
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
}






.button{
  
  padding: 0.6rem 1.2rem;
  border: 2px solid #5a3d1f;
  border-radius: 12px;
  background-color: #7f5af0;
  color: #2e2a24;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
 
   background: linear-gradient(to right, #b9935a, #7f5af0);
   height: 2.5rem;
  line-height: 1;
  
}
.button:hover {
  background: linear-gradient(to right, #7f5af0, #b9935a);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

label{
  font-weight: bold;
  margin-right: 10px; 
  color: #2e2a24; 
  font-size: 1.5rem;
}

.species{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}
